@model UtilityManagement.Models.TblWtpWaterConsumptionInfo

@{
    ViewData["Title"] = "Create WTP Water Consumption Info";
}

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card shadow-lg border-0">

                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Add New WTP Water Consumption Info</h5>
                </div>

                <div class="card-body p-4">

                    <form asp-action="Create" method="post">

                        <div asp-validation-summary="ModelOnly"
                             class="text-danger mb-3">
                        </div>

                        <div class="row g-3">

                            <!-- Trdate -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="Trdate" class="form-label">
                                    Date <span class="text-danger">*</span>
                                </label>
                                <input asp-for="Trdate" type="date" class="form-control" />

                                <span asp-validation-for="Trdate" class="text-danger"></span>
                            </div>

                            <!-- Equipment -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="Eqid" class="form-label">
                                    Equipment <span class="text-danger">*</span>
                                </label>

                                <select asp-for="Eqid" asp-items="ViewBag.EquipmentList" class="form-select">
                                    <option value="">-- Select Equipment --</option>
                                </select>

                                <span asp-validation-for="Eqid" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <h6 class="text-primary">Raw Water Consumption</h6>
                                <hr class="border border-primary opacity-50 mb-2" />
                            </div>
                            <!-- ConsumptionB1 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionB1" class="form-label">
                                    Consumption(Building-01)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionB1" class="form-control" />
                                <span asp-validation-for="ConsumptionB1" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionB7 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionB7" class="form-label">
                                    Consumption(Building-07)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionB7" class="form-control" />
                                <span asp-validation-for="ConsumptionB7" class="text-danger"></span>
                            </div>

                            <!-- ConsumptionB11 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionB11" class="form-label">
                                    Consumption(Building-11) <span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionB11" class="form-control" />
                                <span asp-validation-for="ConsumptionB11" class="text-danger"></span>
                            </div>

                            <!-- ConsumptionB12 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionB12" class="form-label">
                                    Consumption(Building-12)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionB12" class="form-control" />
                                <span asp-validation-for="ConsumptionB12" class="text-danger"></span>
                            </div>

                            <!-- ConsumptionConstruction -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionConstruction" class="form-label">
                                    Consumption(Construction)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionConstruction" class="form-control" />
                                <span asp-validation-for="ConsumptionConstruction" class="text-danger"></span>
                            </div>
                            <!-- BackWashWater -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="BackWashWater" class="form-label">
                                    Backwash Water<span class="text-danger">*</span>
                                </label>
                                <input asp-for="BackWashWater" class="form-control"/>
                                <span asp-validation-for="BackWashWater" class="text-danger"></span>
                            </div>

                            <!-- SurplusRawWater -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="SurplusRawWater" class="form-label">
                                    Surplus of Raw Water<span class="text-danger">*</span>
                                </label>
                                <input asp-for="SurplusRawWater" class="form-control" />
                                <span asp-validation-for="SurplusRawWater" class="text-danger"></span>
                            </div>
                            <!-- TotalConsumptionRawWater -->
                            <!-- TotalConsumptionRawWater=previuos field gulor sum -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="TotalConsumptionRawWater" class="form-label">
                                    Total Cons.(Raw Water)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="TotalConsumptionRawWater" class="form-control" readonly />
                                <span asp-validation-for="TotalConsumptionRawWater" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <h6 class="text-primary">Soft Water Consumption</h6>
                                <hr class="border border-primary opacity-50 mb-2" />
                            </div>
                            <!-- ConsumptionD1 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionD1" class="form-label">
                                    Consumption(Dyeing-01)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionD1" class="form-control" />
                                <span asp-validation-for="ConsumptionD1" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionD2 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionD2" class="form-label">
                                    Consumption(Dyeing-02)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionD2" class="form-control" />
                                <span asp-validation-for="ConsumptionD2" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionSlitting -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionSlitting" class="form-label">
                                    Consumption(Slitting)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionSlitting" class="form-control" />
                                <span asp-validation-for="ConsumptionSlitting" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionFinishing -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionFinishing" class="form-label">
                                    Consumption(Finishing)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionFinishing" class="form-control" />
                                <span asp-validation-for="ConsumptionFinishing" class="text-danger"></span>
                            </div>
                            <!-- Washing -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="Washing" class="form-label">
                                    Washing<span class="text-danger">*</span>
                                </label>
                                <input asp-for="Washing" class="form-control" />
                                <span asp-validation-for="Washing" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionChiller -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionChiller" class="form-label">
                                    Consumption(Chiller)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConsumptionChiller" class="form-control" />
                                <span asp-validation-for="ConsumptionChiller" class="text-danger"></span>
                            </div>
                            <!-- ConsumptionGenerator -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionGenerator" class="form-label">
                                    Consumption(Generator) <span class="text-danger">*</span>
                                </label>

                                <input asp-for="ConsumptionGenerator" class="form-control" />

                                <span asp-validation-for="ConsumptionGenerator" class="text-danger"></span>
                            </div>

                            <!-- ConsumptionSteam -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConsumptionSteam" class="form-label">
                                    Consumption(Steam)
                                </label>
                                <input asp-for="ConsumptionSteam" class="form-control"/>
                                <span asp-validation-for="ConsumptionSteam" class="text-danger"></span>
                            </div>
                            <!-- TotalConsumptionSoftWater= ConsumptionD1+ConsumptionD2+ConsumptionSlitting+ConsumptionFinishing+Washing+ConsumptionChiller
                                +ConsumptionGenerator+ConsumptionSteam
                            -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="TotalConsumptionSoftWater" class="form-label">
                                    Total Cons.(Soft Water)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="TotalConsumptionSoftWater" class="form-control" readonly />
                                <span asp-validation-for="TotalConsumptionSoftWater" class="text-danger"></span>
                            </div>
                            <!-- ConDyeingHotWaterOut -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConDyeingHotWaterOut" class="form-label">
                                    Cons.(Dye.Hot Water Out)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConDyeingHotWaterOut" class="form-control"/>
                                <span asp-validation-for="ConDyeingHotWaterOut" class="text-danger"></span>
                            </div>
                            <!-- ConDyeingHotWaterIn -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label asp-for="ConDyeingHotWaterIn" class="form-label">
                                    Cons.(Dye.Hot Water In)<span class="text-danger">*</span>
                                </label>
                                <input asp-for="ConDyeingHotWaterIn" class="form-control" />
                                <span asp-validation-for="ConDyeingHotWaterIn" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="d-flex justify-content-between mt-4">

                            <a asp-action="WtpWaterConsumptionInfoList"
                               class="btn btn-outline-secondary">
                                ← Back
                            </a>

                            <button type="submit"
                                    class="btn btn-primary px-4">
                                Save Reading
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Helper
        function el(id) {
            return document.getElementById(id);
        }

        function num(id) {
            return parseFloat(el(id)?.value) || 0;
        }

        function calculate() {

            // ==========================
            // Total Consumption of Raw Water
            // ==========================
            const totalRawWater =
                num("ConsumptionB1") +
                num("ConsumptionB7") +
                num("ConsumptionB11") +
                num("ConsumptionB12") +
                num("ConsumptionConstruction") +
                num("BackWashWater") +
                num("SurplusRawWater");

            el("TotalConsumptionRawWater").value = totalRawWater.toFixed(2);

            // ==========================
            // Total Consumption of Soft Water
            // ==========================
            const totalSoftWater =
                num("ConsumptionD1") +
                num("ConsumptionD2") +
                num("ConsumptionSlitting") +
                num("ConsumptionFinishing") +
                num("Washing") +
                num("ConsumptionChiller") +
                num("ConsumptionGenerator") +
                num("ConsumptionSteam");

            el("TotalConsumptionSoftWater").value = totalSoftWater.toFixed(2);
        }

        // Fields to watch
        [
            "ConsumptionB1",
            "ConsumptionB7",
            "ConsumptionB11",
            "ConsumptionB12",
            "ConsumptionConstruction",
            "BackWashWater",
            "SurplusRawWater",

            "ConsumptionD1",
            "ConsumptionD2",
            "ConsumptionSlitting",
            "ConsumptionFinishing",
            "Washing",
            "ConsumptionChiller",
            "ConsumptionGenerator",
            "ConsumptionSteam"
        ].forEach(id => {

            const input = el(id);

            if (input) {
                input.addEventListener("input", calculate);
            }
        });

        // Initial calculation
        calculate();
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
